<div class="jumbotron" id="accordions">
    <h1>Accordions</h1>
    <hr class="my-4">
    <ui-accordions>
        <ui-accordion title="Accordion 1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et sollicitudin turpis. Curabitur
            efficitur porta maximus. Nulla aliquet feugiat ex. Sed non eros lorem. Sed sagittis varius convallis.
            Curabitur mauris lectus, molestie in tortor sit amet, maximus dignissim arcu. In placerat, tellus eget
            aliquet rhoncus, est urna tristique dui, id cursus enim lacus at mi. Proin facilisis fermentum ipsum id
            varius.
        </ui-accordion>
        <ui-accordion title="Accordion 2">
            Phasellus tristique, metus accumsan elementum tempus, risus est vestibulum ligula, et vulputate tortor
            turpis vel enim. Nunc quis rutrum ipsum. Praesent sagittis ipsum ac suscipit volutpat. Donec est velit,
            vestibulum at erat et, accumsan sodales elit. Cras mollis arcu nulla, et faucibus orci sollicitudin sit
            amet. Sed maximus libero nec erat commodo ultrices. Nulla lacinia purus a sem tincidunt, ut varius erat
            placerat. Aliquam sit amet purus facilisis, tincidunt quam ut, tempus magna. Fusce tincidunt erat in
            venenatis efficitur. Etiam rhoncus ex sit amet nunc tincidunt, id feugiat ante dignissim. Aenean arcu
            libero, fringilla nec velit et, faucibus suscipit magna. Curabitur at risus at metus feugiat placerat
            sit amet ac mi.
        </ui-accordion>
        <ui-accordion title="Accordion 3">
            In vitae augue eget velit pellentesque vehicula ac vitae justo. Etiam lacinia, enim eget ornare
            facilisis, ante sapien elementum metus, et maximus metus ipsum vel urna. Donec et massa ac velit dictum
            congue a a magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            Curae; Duis consectetur sapien in nisi egestas dapibus. Aliquam a varius enim, at ornare nulla. Donec
            eget semper turpis. Donec rhoncus dui vel ullamcorper porta. Ut vehicula id dui congue bibendum.
            Praesent id egestas lacus, sagittis faucibus enim. Donec pretium eu leo sit amet egestas. In hac
            habitasse platea dictumst. Aenean lacinia risus sit amet risus gravida, eu feugiat nibh consectetur.
            Nunc eleifend vehicula convallis. Etiam sed nibh sed elit ultricies mollis. In sed nibh faucibus, mollis
            dui et, commodo eros.
        </ui-accordion>
        <ui-accordion title="Accordion 4">
            Ut eu rhoncus est. In egestas metus eu massa fermentum finibus. Donec luctus viverra felis, nec cursus
            enim molestie ut. Praesent molestie sapien et varius sodales. Cras ligula nisl, semper ut velit vel,
            eleifend bibendum magna. Pellentesque condimentum massa felis, in aliquam sapien elementum at. Curabitur
            odio justo, maximus interdum interdum eu, molestie sit amet justo. Aenean sagittis at massa id mattis.
            Donec semper molestie sapien id vehicula.
        </ui-accordion>
        <ui-accordion title="Accordion 5">
            In et fringilla metus, vitae placerat purus. Integer sollicitudin ultricies tincidunt. Nam pulvinar eros
            neque, eu venenatis orci luctus at. Integer non neque mattis, interdum dolor id, tempor arcu. Etiam
            imperdiet urna in nibh commodo maximus sed sed massa. In vitae molestie velit, in congue tellus. Morbi
            nec libero vel nulla rutrum porta. Sed sagittis, ante non elementum vestibulum, lacus tortor finibus
            ante, vitae vulputate mauris orci a arcu. Phasellus ornare nunc nisl, at dictum arcu venenatis id.
            Phasellus pulvinar diam sed justo fringilla tempus. Vestibulum eget nibh blandit, vulputate justo id,
            venenatis justo. Vestibulum vel ipsum a ligula malesuada aliquam vel a augue. Aenean at pharetra quam.
            Proin tempus nisi consequat aliquet mollis. Aliquam et ornare libero. Praesent tellus nibh, interdum ac
            tempus pretium, lacinia ut lacus.
        </ui-accordion>
    </ui-accordions>
    <hr class="my-4">
    <a class="btn btn-dark btn-block" href="#!/contatos">Contatos</a>
    <a class="btn btn-dark btn-block" href="">Adicionar Contato</a>
</div>