<div class="jumbotron">
    <div class="page-header">
        <h1>{{app}}</h1>
    </div>
    <hr class="my-4">

    <!-- por javascript ser case sensitive e css nao, ui-alert = uiAlert, ng-show = ngShow-->
    <ui-alert ng-if="apiStatus" title="Ops, aconteceu um problema!">
        {{error}}
    </ui-alert>

    <input id="search" class="form-control" type="text" ng-model="criterioDeBusca"
           placeholder="Quem você está buscando?"/>
    <table class="table table-striped" ng-show="contatos.length > 0">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordenarPor('nome')"/>Nome</th>
            <th><a href="" ng-click="ordenarPor('telefone')"/>Telefone</th>
            <th>Operadora</th>
            <th>Data</th>
            <th></th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}"
            ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
            <td>{{contato.serial}}</td>
            <td>
                <input type="checkbox" ng-model="contato.selecionado"/>
            </td>
            <td>{{contato.nome | name | ellipsis:10}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:'EEEE dd/MM/yyyy'}}</td>
            <td>
                <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
            </td>
        </tr>
    </table>
    <hr/>

    <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">
        Apagar Contato
    </button>

    <hr class="my-4">
    <a class="btn btn-dark btn-block" href="#!/accordion">Accordions</a>
    <a class="btn btn-dark btn-block" href="">Adicionar Contato</a>
</div>