<div class="jumbotron">
    <div class="page-header">
        <h1>Contato</h1>
    </div>
    <hr class="my-4">
    <table class="table">
        <tr>
            <td>{{contato.nome}}</td>
        </tr>
        <tr>
            <td>{{contato.telefone}}</td>
        </tr>
        <tr>
            <td>{{contato.data | date:'EEEE dd/MM/yyyy'}}</td>
        </tr>
    </table>
    <hr class="my-4">
    <a class="btn btn-primary btn-block" href="#!/accordion">Accordions</a>
    <a class="btn btn-primary btn-block" href="#!/contatos">Contatos</a>
    <a class="btn btn-primary btn-block" href="#!/novoContato">Adicionar Contato</a>
</div>